/* #background{
     background-image: url("src/assets/images/background.jpg");
      background-size: 100%;
      background-repeat: no-repeat;
} */
 /* Hide scrollbar for Chrome, Safari */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge */
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.no-scroll{
  overflow: hidden;
}